Source: qtubuntu-sensors
Section: libs
Priority: extra
Maintainer: Jim Hodapp <jim.hodapp@canonical.com>
Build-Depends:  debhelper (>= 9),
                libhybris-dev,
                qtsensors5-dev,
                qt5-default,
		qtbase5-dev,
                pkg-config
Standards-Version: 3.9.3

Package: qtubuntu-sensors
Section: libs
Architecture: armhf
Depends:    ${shlibs:Depends},
            ${misc:Depends},
Description: QtSensors plugins for AAL+
 QtSensors plugins for the qtubuntu (hybris) sensors backend
