Source: qtubuntu-sensors
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               cmake,
               libgtest-dev,
               libubuntu-application-api-dev (>= 3.0.1),
               libprocess-cpp-dev (>= 0.0.1+14.04.20131212),
               ubuntu-application-api3-test,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtfeedback5-dev,
               qtlocation5-dev,
               libqt5sensors5-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/qtubuntu-sensors
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:qtubuntu-sensors
Vcs-Browser: https://code.launchpad.net/qtubuntu-sensors

Package: qtubuntu-sensors
Architecture: i386 amd64 armhf
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Breaks: libqt5location5-plugins (<< 5.0~git20130805-0ubuntu4)
Replaces: libqt5location5-plugins (<< 5.0~git20130805-0ubuntu4)
Description: QtSensors plugins for Android sensors
 QtSensors plugins for the qtubuntu (hybris) sensors backend
