Source: qtsensors-aal
Section: libs
Priority: extra
Maintainer: Jim Hodapp <jim.hodapp@canonical.com>
Build-Depends:  debhelper (>= 9),
                libhybris-dev,
                qtsensors,
                pkg-config
Standards-Version: 3.9.3

Package: qtsensors-aal
Section: libs
Architecture: armhf
Depends:    ${shlibs:Depends},
            ${misc:Depends},
            qtsensors,
Description: QtSensors plugins for AAL+
 QtSensors plugins for the hybris sensors backend
