#!/usr/bin/make -f

# Daily release standard
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

# This has to be exported to make some magic below work.
export DH_OPTIONS
export QT_QPA_PLATFORM = minimal

%:
	dh $@ --parallel

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:
ifeq (, $(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	cd obj-* && ctest --verbose
endif
